.container{
  display: inline-block;
  background-color: rgb(22, 22, 22);
  border-radius: 10px;
  width: 340px;
}

.container2{
  display: inline-block;
  background-color: rgb(34, 41, 227);
  border-radius: 10px;
  width: 340px;
}

.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px 15px;
}

.card:hover{
  background-color: rgb(36, 36, 36);
  transition: all 0.3s ease;
}

.user{
  display: flex;
  align-items: center;
  margin-right: 20px
}

button{
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  padding: 10px 16px;
  cursor: pointer;
  margin-left: 10px;
}

.title{
  padding: 10px 20px;
  font-size: 13px;
  
}

.buscar{
  cursor: pointer;
  border-radius: 0 0 10px 10px;
  padding:  17px 20px;
  color: rgb(81, 133, 212);
}

.buscar:hover{
  background-color: rgb(36, 36, 36);
  transition: all 0.3s ease;
}

.gris{
  color: gray;
}

.negro{
  margin-top: 20px;
  background-color: rgb(40, 40, 40);
  color: white;
  border-radius: 0;
}

.azul{
  margin-top: 20px;
  background-color: blue;
  border-radius: 0;
}