

.container{
    background-color: rgb(235, 108, 108);
}

header{
    display: flex;
    align-items: center;
    padding: 20px;
}

h1{
    width: 50%;
    text-align: center;
    cursor: pointer;
}

h1:hover{
    color: rgb(80, 221, 52);
}

nav{
    width: 50%;
}

ul{
    display: flex;
    justify-content: space-around;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

a:hover{
    color: rgb(108, 238, 47);
}

section{
    display: flex;
}

.section{
    background-color: rgb(226, 167, 167);
    width: 70%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto{
    font-size: 30px;
}

.aside{
        background-color: rgb(219, 130, 130);
        width: 30%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
}

.footer{
        display: flex;
        justify-content: center;
        padding: 20px;
}